body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App{
  height: 100vh;
  width: 100vw;
}

#map{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.center-position{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( -50% , -50%);
}

.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.fade-leave{
  opacity: 1;
}

.fade-leave-active{
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.fade-appear{
  opacity: 0;
}

.fade-appear-active{
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.thumb{
  display: none !important;
}

#style-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:4px;
	background-color: #F5F5F5;
}

#style-scrollbar::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.slide-enter{
  top: 100vh !important;
}
.slide-enter-active{
  top:0px !important;
  transition: all 300ms ease ;
}
.slide-leave{
  top:0px !important;
}
.slide-leave-active{
  top:100vh !important;
  transition: all 300ms ease ;
}
.slide-appear{
  top:100vh !important;
}
.slide-appear-active{
  top:0px !important;
  transition: all 300ms ease ;
}

.user-data img{
  width: 64px;
  display: block;
  margin: 0 auto;
}
.user-data span{
  display: block;
  width: 100%;

}
.input{
  height: 2.5rem;
  width: 15vw !important;
  transform: translate(50% , 0);
  color: white !important;
  margin:0;
  border:none !important;
}
.input-field{
  display: inline-block;
}
.gm-style-mtc {
 display: none;
}
#navbar{
 background:transparent !important;
 box-shadow: none;
 position: fixed;
 z-index: 100;
}
select{
 color:white;
 background-color: #23293F;
 border: none;
 font-size: 1.2rem;
}
select:focus{
 border: none;
}
